<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDTextViewPlaceHolderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9BE956B1EE7039E000A6260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9BE95841EE7039F000A6260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9BE958F1EE7039F000A6260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
